
@{
    ViewData["Title"] = "Create";
}

<h1>Add New Book</h1>
<form asp-action="Create" enctype="multipart/form-data">
    <Partial name="PartialViews/CreateEdit" />

    <input class="btn btn-primary " value="Add" type="submit">

    <a class="btn btn-light " asp-action="Index">Back to Home</a>
</form>
@section ValidationSection
{
    <partial name="_ValidationScriptsPartial" />
}